@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}
.nav__links {
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
    text-decoration: none;

    position: absolute;
    width: 437px;
    height: 24px;
    left: 943px;
    top: 30px;
    color:#394149;

}

li {
    font-family: Poppins;
    font-weight: 600px;
    font-size: 16px;
    color:#394149;
    display: flex;
    text-decoration: none;

}

button {
    font-family: Poppins;
    font-weight: 600px;
    font-size: 16px;
    color: #F58A07;
    text-decoration: none;
    position: absolute;
    width: 173px;
    height: 52px;
    left: 1427px;
    top: 16px;
    background: rgba(245, 138, 7, 0.1);
    border-radius: 31px;
    border:0;
    border-width:0;
}
header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:30px 0;
}

.logo {
    margin-right: auto;
    /* left: 16.67%;
    right: 76.98%;
    top: 0.42%;
    bottom: 99.15%;
    position: absolute;*/
}
a {
    text-decoration:none;
    color:#394149
}

.header {
    height: 703px;
    background: #DCEAF5;
}

.zurag {
    position: absolute;
    width: 747px;
    height: 618px;
    left: 949px;
    top: 169px;

    background: url(images/header-image.png);
}
.text {
    position: absolute;
   
    left: 320px;
    top: 201px;

}
h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    /* or 112% */
    letter-spacing: -0.03em;

    color: #1D3444;
}
.container {
    /* position: relative; */
    max-width: 1280px;
    margin: 0 auto;
}